<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Fruits App</title>
   </head>
   <body>
      <h1>Fruits Show Page</h1>
      <h2><%= foundFruit.name %></h2>
      <p><%= foundFruit.color %></p>

      <% if (foundFruit.readyToEat === true) { %>
      <p>This foundFruit is ready to eat</p>
      <% } else { %>
      <p>This fruit is not ready to eat</p>
      <% } %>
   </body>
</html>
